body {
    height: 100vh;
    margin: 0px;
    background-color: rgb(170, 205, 206);
}

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px;
    width: 1px; 
    margin: -1px;
    padding: 0;
    border: 0; 
  }
  
  .container3 {
    width: 100%;
    height: 50px;
    background-color: rgb(164, 187, 190);
    box-shadow: 1px 1px 6px 0px black;
  }

  h1 {
    margin: 0;
  }

  nav > div > h1 {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50px);
  }
  
  .hamburger {
    cursor: pointer;
    top: 0.6%;
    left: 1%;
    margin: 0px auto;
    /* margin-top: 10px; */
    width: 20px;
    height: 19px;
    position: absolute;
  }
  
  .hamburger .bar {
    padding: 0;
    width: 20px;
    height: 3px;
    background-color: rgb(44, 44, 44);
    display: block;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    position: absolute; 
  }
  
  .bar1 {
    top: 0;
  }
  
  .bar2,
  .bar3 {
    top:8.5px;
  }
  
  .bar3 {
    right: 0;
  }
  
  .bar4 {
    bottom: 0;
  }
  
  .checkbox1:checked + label > .hamburger1 > .bar1{
    z-index: 2;
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 25px;
    position: absolute;
    left: 0px;
  }
  
  .checkbox1:checked + label > .hamburger1 > .bar2 {
    z-index: 2;
    transform: translateX(-40px);
    background-color: transparent;
  }
  
  .checkbox1:checked + label > .hamburger1 > .bar3 {
    z-index: 2;
    transform: translateX(40px);
    background-color: transparent;
  }
  
  .checkbox1:checked + label > .hamburger1 > .bar4 {
    z-index: 2;
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 25px;
    position: absolute;
    left: 0px;
  }
  
  .checkbox1:checked + label > .hamburger1 > .rotebar{ 
    z-index: 1;
    display: flex;
    width: 140px;
    height: 440px;
    transition: 2s;
    border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(to left, rgb(192, 216, 216), rgb(154, 172, 173));
    box-shadow: 1px 1px 4px 0px black;
  }
  
  .checkbox1:checked + label > .hamburger1 > .rotebar > .span{
  display: flex;
  }
  
  .span{
    display: none;
  }
  
    .rotebar, #checkboxE{
      cursor: auto;
      display: flex;
      position: absolute;
      top: -17px;
      left: -43px;
      height: 0px;
      width: 0px;
      border-radius: 0px 0px 10px 0px;
      border: rgba(255, 255, 255, 0) 1px solid;
      background-color: #000000;
      justify-content: space-evenly;
      flex-direction: column;
    }
  
    .imagem:hover,
    .imagem:focus { 
      transform: translateY(-5px)
      scale(1);
      }

      .topico {
        position: absolute;
        box-shadow: 0px 0px 4px 1px black;
        height: 40px;
        width: 100%;
        background-color: #ffffff;
      }

      .imagem {
        position: relative;
        left: 25%;
        top: 25%;
        transition-duration: 1s;
      }

      main {
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
        border-radius: 0px 0px 10px 10px;
    }

    main > h1 {
        text-align: center;
    }

    .cimagem {
        height: 60px;
        width: 40px;
        background-color: #000000;
    }

    main > .conteiner {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .conteudo {
        position: relative;
      display: block;
      margin: auto;
      height: 70vh;
      background-color: #d6f1f1;
      margin: 50px;
      border-radius: 6px;
      box-shadow: 1px 1px 4px rgba(39, 39, 39, 0.699);
    }

    .per-img {
        display: block;
        margin: auto;
        height: 100%;
        box-shadow: 2px 2px 5px rgb(0, 17, 17);
    }

    .texto {
        padding: 20px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }

    .imgspan {
        position: relative;
        display: flex;
        margin: auto;
        height: 60%;
        background-image: linear-gradient(to top, rgb(35, 182, 192), rgb(15, 59, 59));
        padding: 20px;
        box-shadow: 2px 2px 5px rgba(31, 31, 31, 0.767);
    }

    .nome-per {
      text-align: center;
      background-image: linear-gradient(to top, rgb(20, 63, 65), rgb(0, 0, 0));
      color: #fff;
      padding: 8px 0px;
      border-radius: 8px 8px 0px 0px;
      box-shadow: 2px 2px 5px rgba(31, 31, 31, 0.767);
      border: 2px solid #fff;
      border-top: none;
      border-left: none;
      border-right: none;
    }